*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
 gap: 2rem;
}
.right-part{
  width: 30%;
}
.left-part{
  width: 50%;
}
.parts{
  height: 70%;
  margin: auto 0 auto 0;

}
.hero-image{
  width: 100%;
  height: 100%;
}
.wrapper{
  width: 100%;
}
.wrapper h1{
  color:rgb(91, 6, 171);
  margin-top: 3rem;
}
.wrapper p{
  font-size: 1.6rem;
  color:blueviolet;
  margin-top: 1rem;
}
.btn-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}
.button{
  width: 100%;
  height: 3rem;
  border: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  border-radius: .5rem;
}
.fb{
  background-color: rgb(4, 4, 168);
}
.tw{
  background-color: deepskyblue;
}
.email{
  background-color: rgb(91, 6, 171);
}
.sec-ind{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sec-ind h2{
  width: 3rem;
  height: 3rem;
  color: white;
  background-color: rgb(203, 170, 233);
  border-radius: 50%;
  text-align: center;
  padding-top: 2%;
}
form input{
  display: block;
  width: 100%;
  height: 3rem;
  border-radius: .5rem;
  padding-left: 1rem;
}
form label, .check-wrapper label{
  font-size: 1.6rem;
  color: blueviolet;
}
form div{
  margin-top: 1rem;
}
.switch{
  width: 100%;
  position: relative;
  margin-top: 3rem;
  height: 2.5rem;
}
.switch-btn{
  width: 20%;
  height: 100%;
  position: absolute;
  color: white;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
}
.back{
  left: 0;
  background-color: black;
}
.edit{
  width: 35%;
  left: 45%;
}
.next{
  right: 0;
  background-color: blue;
}
.check-wrapper{
  margin-top: 2rem;
}
.check-wrapper input{
  cursor: pointer;
}
table{
  font-size: 1.6rem;
  margin-top: 2rem;
}
table, td, th{
  border: .1rem solid black;
  border-collapse: collapse;
  padding: .3rem;
}